.idea
venv
docker/node-red-data/
.bin
node_modules
node-red/on-off-keying/nodes/*.d.ts
node-red/on-off-keying/nodes/*.js*
arduino_rf_to_mqtt/main/credentials.h
esp-smarthome/dep
*/secrets.yaml
**/.esphome/
**/**/.pioenvs/
**/**/.piolibdeps/
**/**/lib/
**/**/src/
**/**/platformio.ini
