version: '3'
services:
  broker:
    image: eclipse-mosquitto
    ports:
      - '1883:1883'
      - '9001:9001'
 
  nodered:
    image: nodered/node-red-docker
    ports:
      - '1880:1880'
    volumes:
      - './node-red-data:/data'
